@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4"><b>Coding With Shashank in C#</b></h1>
    <ol>
        <li>Be Persistent</li>
        <li>Stick to a routine</li>
        <li>Focus on the fundamentals</li>
        <li>Build hands on Project , no matter what level of experience you have </li>
        <li>And don't be afraid to ask for help</li>
    </ol>
    
</div>
